container.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="container">
    <xs:complexType>
        <xs:choice>
            <xs:element name="original">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element type="xs:string" name="a"/>
                        <xs:element type="xs:string" name="b"/>
                        <xs:element type="xs:base64Binary" name="k"/>
                        <xs:element type="xs:base64Binary" name="s" minOccurs="0"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="diffiehellman">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element type="xs:string" name="a"/>
                        <xs:element type="xs:string" name="b"/>
                        <xs:element type="xs:base64Binary" name="data"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="cn">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element type="xs:base64Binary" name="c"/>
                        <xs:element type="xs:base64Binary" name="n"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:choice>
    </xs:complexType>
  </xs:element>
</xs:schema>