diffiehellman_container.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="container">
      <xs:complexType>
          <xs:sequence>
              <xs:element type="xs:string" name="a"/>
              <xs:element type="xs:base64Binary" name="r"/>
              <xs:element type="xs:base64Binary" name="k"/>
              <xs:element type="xs:base64Binary" name="data"/>
          </xs:sequence>
      </xs:complexType>
  </xs:element>
</xs:schema>