payload.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="payload">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:base64Binary" name="h"/>
        <xs:element type="xs:base64Binary" name="d"/>
        <xs:element type="xs:base64Binary" name="m"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>